* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", serif;
    background-color: #F1F1F3;
    margin: 24px 160px;
}

section {
    margin: 40px 0;
}

h3 {
    font-size: 40px;
    color: #0E0E0E;
    font-weight: 700;
    margin-bottom: 24px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E80;
}

p {
    font-size: 16px;
    color: #0E0E0E70;
}

/* Shared Styles */

.primary-btn {
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.primary-btn:hover {
    color: #006A50;
    background-color: #F1F1F3;
    border: 1px solid #006A50;
}

/* Header Section */
.title-logo {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signin-btn {
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border: 1px solid #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.signin-btn:hover {
    color: white;
    background-color: #006A50;
}

/* Banner Section */
.banner-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 64px;
    margin-top: 40px;
}

.banner-text {
    text-align: left;
}

.banner-text p {
    color: #0E0E0E50;
    font-weight: 500;
    font-size: 24px;
    margin-top: 20px;
}

.banner-text h2 {
    color: #0E0E0E;
    font-weight: 700;
    font-size: 56px;
    margin-top: 20px;
}

.explore-btn {
    margin-top: 20px;
    padding: 17px 34px;
}

.banner-img {
    width: 475px;
    height: 400px;
}

/* Vision Card Section */
.vision-cards {
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

.vision-card {
    border-radius: 16px;
    padding: 32px;
}

.vision-card img {
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
}

.vision-card h4 {
    margin-bottom: 24px;
}

.vision-card button {
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    color: #FFFFFF;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
}

.card-1 {
    background-color: #5490F520;
}

.card-2 {
    background-color: #C6E4D6;
}

.card-3 {
    background-color: #F7EBCF;
}

.card-1 button {
    background-color: #5490F5;
}

.card-2 button {
    background-color: #09A15C;
}

.card-3 button {
    background-color: #FFC239;
}



